<%= link_to 'スレッド一覧に戻る', root_path %>
<hr>

<p id="notice"><%= notice %></p>

<h1><%= @topic.title %></h1>

<td><%= link_to '変更', edit_topic_path(@topic) %></td>
<td><%= link_to '削除', @topic, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>

<hr>
<% @posts.each_with_index do |post, idx| %>
  <p>
    <%= idx + 1 %>
    <% if post.deleted_at %>
      削除されました
    <% else %>
      <%= post.name %> : <%= post.body %>
      <% if post.post_id %>
        >><%= @post_ids[post.post_id] %>への返信
      <% end %>
      <%= link_to '変更', edit_post_path(post) %>
      <%= link_to '削除', post, method: :delete, data: { confirm: '本当に削除しますか？' } %>
    <% end %>
  </p>
<% end %>

<hr>
<%= render 'posts/form', post: @newpost, edit: false %>
